<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Rivett'
        UpgradeCode='4FC25C8F-175E-4005-8AD9-E09C31EB26C3'
        Manufacturer='Rivett Developers'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Rivett — High-performance image vetting tool'
            Manufacturer='Rivett Developers'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Rivett Installation'/>

        <Icon Id='ProductICO' SourceFile='wix\Product.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />
        <Property Id='ARPHELPLINK' Value='https://github.com/krets/rivett'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Rivett'>
                    
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile' DiskId='1' Source='wix\License.rtf' KeyPath='yes'/>
                    </Component>
                    
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='57C98A4B-B1F6-4F0F-B7F8-A18CA06FACA9' KeyPath='yes'>
                            <Environment Id='PATH' Name='PATH' Value='[Bin]' Permanent='no' Part='last' Action='set' System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File Id='exe0' Name='rivett.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\rivett.exe' KeyPath='yes'/>
                        </Component>

                        <Component Id='RegistryProgId' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\Rivett.Image' Type='string' Value='Rivett Image' KeyPath='yes' />
                            <RegistryValue Root='HKMU' Key='Software\Classes\Rivett.Image' Name='PerceivedType' Type='string' Value='image' />
                            <RegistryValue Root='HKMU' Key='Software\Classes\Rivett.Image\shell\open\command' Type='string' Value='&quot;[Bin]rivett.exe&quot; &quot;%1&quot;' />
                        </Component>

                        <Component Id='RegistryShell' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\*\shell\Rivett' Name='Icon' Type='string' Value='[Bin]rivett.exe' KeyPath='yes' />
                            <RegistryValue Root='HKMU' Key='Software\Classes\*\shell\Rivett\command' Type='string' Value='&quot;[Bin]rivett.exe&quot; &quot;%1&quot;' />
                        </Component>

                        <Component Id='AssocPng' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\.png\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' KeyPath='yes' />
                        </Component>
                        <Component Id='AssocJpg' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\.jpg\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' KeyPath='yes' />
                            <RegistryValue Root='HKMU' Key='Software\Classes\.jpeg\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' />
                        </Component>
                        <Component Id='AssocWebp' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\.webp\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' KeyPath='yes' />
                        </Component>
                        <Component Id='AssocExr' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\.exr\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' KeyPath='yes' />
                        </Component>
                        <Component Id='AssocSvg' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\.svg\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' KeyPath='yes' />
                        </Component>
                        <Component Id='AssocCr3' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\.cr3\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' KeyPath='yes' />
                        </Component>
                        <Component Id='AssocArw' Guid='*'>
                            <RegistryValue Root='HKMU' Key='Software\Classes\.arw\OpenWithProgids' Name='Rivett.Image' Type='string' Value='' KeyPath='yes' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Rivett Application'
            Description='The core Rivett executable and license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
        </Feature>

        <Feature
            Id='ContextMenu'
            Title='Context Menu'
            Description='Add "Open with Rivett" to the right-click context menu in File Explorer.'
            Level='1'>
            <ComponentRef Id='RegistryShell'/>
        </Feature>

        <Feature
            Id='FileAssociations'
            Title='File Associations'
            Description='Register Rivett in the "Open With" menu. Expand to choose individual formats.'
            Level='1'>
            <ComponentRef Id='RegistryProgId'/>

            <Feature Id='AssocPngFeature' Title='PNG (.png)' Level='1'><ComponentRef Id='AssocPng'/></Feature>
            <Feature Id='AssocJpgFeature' Title='JPEG (.jpg, .jpeg)' Level='1'><ComponentRef Id='AssocJpg'/></Feature>
            <Feature Id='AssocWebpFeature' Title='WebP (.webp)' Level='1'><ComponentRef Id='AssocWebp'/></Feature>
            <Feature Id='AssocExrFeature' Title='OpenEXR (.exr)' Level='1'><ComponentRef Id='AssocExr'/></Feature>
            <Feature Id='AssocSvgFeature' Title='SVG (.svg)' Level='1'><ComponentRef Id='AssocSvg'/></Feature>
            <Feature Id='AssocCr3Feature' Title='Canon RAW (.cr3)' Level='1'><ComponentRef Id='AssocCr3'/></Feature>
            <Feature Id='AssocArwFeature' Title='Sony RAW (.arw)' Level='1'><ComponentRef Id='AssocArw'/></Feature>
        </Feature>

        <Feature Id='Environment' Title='Add to PATH' Description='Add Rivett to your system PATH.' Level='2' Absent='allow'>
            <ComponentRef Id='Path'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <!-- Navigation to skip LicenseAgreementDlg -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='2'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='2'>1</Publish>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
        <WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>
        <WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>

    </Product>
</Wix>
